extends shared/layout

block content
  div(id="title" class='container')
    h1 Choose your gadget
    div(id='phones' class='image-container')
    div(id='tablets' class='image-container')
    div(id='wearables' class='image-container')